In [1]:
#Import the required Libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

# Data Cleaning 

#  is also known as Data Preparation

 - One of the primary purposes of data preparation is to ensure raw data being readied for processing and analysis is accurate and consistent so the results of Business Intelligence(BI) and Analytics applications.
 - Data is commonly created with missing values, inaccuracies or other errors.
 - Correcting data errors, validating data quality and consolidating data sets are big parts of data preparation projects.
 - Data preparation also involves finding relevant data to ensure that analytics applications deliver meaningful information and actionable insights for business decision-making.
 - For example, by blending internal and external data sets, creating new data fields, eliminating outlier values can work a lot.

In [2]:
# reading data

In [3]:
#Read the data in pandas
inp0= pd.read_csv(r"C:\Users\HP\Desktop\PRO Attri\Attribute DataSet.csv")
inp1= pd.read_csv(r"C:\Users\HP\Desktop\PRO Attri\dress sales.csv")

In [4]:
inp0.dtypes

Dress_ID            int64
Style              object
Price              object
Rating            float64
Size               object
Season             object
NeckLine           object
SleeveLength       object
Material           object
FabricType         object
Decoration         object
Pattern Type       object
Recommendation      int64
dtype: object

In [5]:
inp1.dtypes

Dress_ID      int64
29-08-13      int64
31-08-13      int64
09-02-13      int64
09-04-13      int64
09-06-13      int64
09-08-13      int64
09-10-13      int64
09-12-13     object
14-09-13     object
16-09-13     object
18-09-13     object
20-09-13     object
22-09-13     object
24-09-13      int64
26-09-13    float64
28-09-13      int64
30-09-13    float64
10-02-13    float64
10-04-13    float64
10-06-13      int64
10-08-13    float64
10-10-13    float64
10-12-13      int64
dtype: object

In [12]:
# Print the data types information of inp1 i.e. "Dress Sales" data.
inp1['09-12-13'] = inp1['09-12-13'].astype(float)

ValueError: could not convert string to float: 'Removed'

In [18]:
# Try to convert the object type into float type of data. YOU GET ERROR MESSAGE.

inp1['09-12-13'] = pd.to_numeric(inp1['09-12-13'], errors='coerce')

# 'Errors' parameter handles non-numeric values by coercing them to NaN
# errors parameter will replace non-numeric values with NaN, which might be desirable if you want to identify and handle these cases separately.
inp1.dtypes

Dress_ID      int64
29-08-13      int64
31-08-13      int64
09-02-13      int64
09-04-13      int64
09-06-13      int64
09-08-13      int64
09-10-13      int64
09-12-13    float64
14-09-13    float64
16-09-13    float64
18-09-13    float64
20-09-13    float64
22-09-13     object
24-09-13      int64
26-09-13    float64
28-09-13      int64
30-09-13    float64
10-02-13    float64
10-04-13    float64
10-06-13      int64
10-08-13    float64
10-10-13    float64
10-12-13      int64
dtype: object

In [14]:
inp1['14-09-13'] = pd.to_numeric(inp1['14-09-13'], errors='coerce')

In [15]:
inp1['16-09-13'] = pd.to_numeric(inp1['16-09-13'], errors='coerce')

In [16]:
inp1['18-09-13'] = pd.to_numeric(inp1['18-09-13'], errors='coerce')

In [17]:
inp1['20-09-13'] = pd.to_numeric(inp1['20-09-13'], errors='coerce')

In [50]:
# Convert the object type columns in "Dress Sales" into float type of data type.
inp1.dtypes
# I have converted the int64 datatype into float64 datatype

Dress_ID      int64
29-08-13      int64
31-08-13      int64
09-02-13      int64
09-04-13      int64
09-06-13      int64
09-08-13      int64
09-10-13      int64
09-12-13    float64
14-09-13    float64
16-09-13    float64
18-09-13    float64
20-09-13    float64
22-09-13     object
24-09-13      int64
26-09-13    float64
28-09-13      int64
30-09-13    float64
10-02-13    float64
10-04-13    float64
10-06-13      int64
10-08-13    float64
10-10-13    float64
10-12-13      int64
dtype: object

In [77]:
# Drop the columns in "Dress Sales" which have more than 40% of missing values.

In [44]:
# Calculate the null percentage for each column
the_null_percentage = inp1.isnull().mean() * 100

# Get the column names where null percentage is greater than 40
columns_to_drop = the_null_percentage[the_null_percentage > 40].index

# Drop the columns from the original DataFrame inp1
inp1 = inp1.drop(columns=columns_to_drop)

# Print the remaining columns in inp1
inp1.isnull().sum()

Dress_ID    0
29-08-13    0
31-08-13    0
09-02-13    0
09-04-13    0
09-06-13    0
09-08-13    0
09-10-13    0
09-12-13    1
14-09-13    1
16-09-13    1
18-09-13    1
20-09-13    1
24-09-13    0
28-09-13    0
10-06-13    0
10-12-13    0
dtype: int64

You should categorise the dates into seasons in “Dress Sales” data to simplify the analysis according to the following criteria:
- June, July and August: Summer.
- September, October and November: Autumn.
- December, January and February: WInter.
- March, April and May: Spring.

In [79]:
inp1.columns

Index(['Dress_ID', '29-08-13', '31-08-13', '09-02-13', '09-04-13', '09-06-13',
       '09-08-13', '09-10-13', '09-12-13', '14-09-13', '16-09-13', '18-09-13',
       '20-09-13', '22-09-13', '24-09-13', '28-09-13', '10-06-13', '10-12-13'],
      dtype='object')

In [ ]:
# Assuming 'sales_data' is the DataFrame and the date columns are provided
# Convert date columns to datetime format if not already in that format
inp1.columns = ['29-08-13', '31-08-13', '09-02-13', '09-04-13', '09-06-13',
                '09-08-13', '09-10-13', '09-12-13', '14-09-13', '16-09-13',
                '18-09-13', '20-09-13', '22-09-13', '24-09-13', '28-09-13',
                '10-06-13', '10-12-13']

for column in inp1.columns:
    inp1[column] = pd.to_datetime(sales_data[column], errors='coerce')

# Define the bins and labels for each season
bins = [0, 2, 5, 8, 11, 12]
labels = ['Winter', 'Spring', 'Summer', 'Autumn', 'Winter']

# Create a new column for each date column indicating the season
for column in inp1.columns:
    inp1[f'{column}_Season'] = pd.cut(sales_data[column].dt.month, bins=bins, labels=labels, right=False)

# Print the DataFrame with the new season columns
print(sales_data)

In [19]:
inp0.head()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,chiffonfabric,chiffon,bow,dot,0

In [20]:
inp1.head()

,Dress_ID,29-08-13,31-08-13,09-02-13,09-04-13,09-06-13,09-08-13,09-10-13,09-12-13,14-09-13,...,24-09-13,26-09-13,28-09-13,30-09-13,10-02-13,10-04-13,10-06-13,10-08-13,10-10-13,10-12-13
0,1006032852,2114,2274,2491,2660,2727,2887,2930,3119.0,3204.0,...,3554,3624.0,3706,3746.0,3795.0,3832.0,3897,3923.0,3985.0,4048
1,1212192089,151,275,570,750,813,1066,1164,1558.0,1756.0,...,2710,2942.0,3258,3354.0,3475.0,3654.0,3911,4024.0,4125.0,4277
2,1190380701,6,7,7,7,8,8,9,10.0,10.0,...,11,11.0,11,11.0,11.0,11.0,11,11.0,11.0,11
3,966005983,1005,1128,1326,1455,1507,1621,1637,1723.0,1746.0,...,1878,1892.0,1914,1924.0,1929.0,1941.0,1952,1955.0,1959.0,1963
4,876339541,996,1175,1304,1396,1432,1559,1570,1638.0,1655.0,...,2032,2156.0,2252,2312.0,2387.0,2459.0,2544,2614.0,2693.0,2736

In [21]:
inp0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        479 non-null    int64
 1   Style           479 non-null    object
 2   Price           477 non-null    object
 3   Rating          479 non-null    float64
 4   Size            479 non-null    object
 5   Season          477 non-null    object
 6   NeckLine        476 non-null    object
 7   SleeveLength    477 non-null    object
 8   Material        360 non-null    object
 9   FabricType      223 non-null    object
 10  Decoration      255 non-null    object
 11  Pattern Type    377 non-null    object
 12  Recommendation  479 non-null    int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.8+ KB

In [22]:
inp1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 24 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Dress_ID  479 non-null    int64
 1   29-08-13  479 non-null    int64
 2   31-08-13  479 non-null    int64
 3   09-02-13  479 non-null    int64
 4   09-04-13  479 non-null    int64
 5   09-06-13  479 non-null    int64
 6   09-08-13  479 non-null    int64
 7   09-10-13  479 non-null    int64
 8   09-12-13  478 non-null    float64
 9   14-09-13  478 non-null    float64
 10  16-09-13  478 non-null    float64
 11  18-09-13  478 non-null    float64
 12  20-09-13  478 non-null    float64
 13  22-09-13  479 non-null    object
 14  24-09-13  479 non-null    int64
 15  26-09-13  257 non-null    float64
 16  28-09-13  479 non-null    int64
 17  30-09-13  222 non-null    float64
 18  10-02-13  220 non-null    float64
 19  10-04-13  221 non-null    float64
 20  10-06-13  479 non-null    int64
 21  10-08-13  224 non-null    float64
 22  10-10-13  224 non-null    float64
 23  10-12-13  479 non-null    int64
dtypes: float64(11), int64(12), object(1)
memory usage: 89.9+ KB

In [23]:
inp0.Size.value_counts()

M        171
free     165
L         93
S         34
XL        14
small      1
s          1
Name: Size, dtype: int64

In [28]:
inp0.Size.replace({'M':'Medium','L':'Large','XL':'Extra Large','free':'Free','S':'Small','s':'Small','small':'Small'},inplace = True)

In [29]:
inp0.Size.value_counts()

Medium         171
Free           165
Large           93
Small           36
Extra Large     14
Name: Size, dtype: int64

In [31]:
inp0.Size.isnull().sum()

0

In [32]:
inp0.Size.value_counts()

Medium         171
Free           165
Large           93
Small           36
Extra Large     14
Name: Size, dtype: int64

In [33]:
inp0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479 entries, 0 to 478
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Dress_ID        479 non-null    int64
 1   Style           479 non-null    object
 2   Price           477 non-null    object
 3   Rating          479 non-null    float64
 4   Size            479 non-null    object
 5   Season          477 non-null    object
 6   NeckLine        476 non-null    object
 7   SleeveLength    477 non-null    object
 8   Material        360 non-null    object
 9   FabricType      223 non-null    object
 10  Decoration      255 non-null    object
 11  Pattern Type    377 non-null    object
 12  Recommendation  479 non-null    int64
dtypes: float64(1), int64(2), object(10)
memory usage: 48.8+ KB

In [34]:
inp0.Season.value_counts()

Summer    154
Spring    116
Winter     94
Automn     59
winter     45
Autumn      7
spring      2
Name: Season, dtype: int64

In [36]:
inp0.columns

Index(['Dress_ID', 'Style', 'Price', 'Rating', 'Size', 'Season', 'NeckLine',
       'SleeveLength', 'Material', 'FabricType', 'Decoration', 'Pattern Type',
       'Recommendation'],
      dtype='object')

In [37]:
inp1.columns

Index(['Dress_ID', '29-08-13', '31-08-13', '09-02-13', '09-04-13', '09-06-13',
       '09-08-13', '09-10-13', '09-12-13', '14-09-13', '16-09-13', '18-09-13',
       '20-09-13', '22-09-13', '24-09-13', '26-09-13', '28-09-13', '30-09-13',
       '10-02-13', '10-04-13', '10-06-13', '10-08-13', '10-10-13', '10-12-13'],
      dtype='object')

# 
 - You should categorise the dates into seasons in “Dress Sales” data to simplify the analysis  -   according to the following criteria:

 - June, July and August: Summer.
 - September, October and November: Autumn.
 - December, January and February: WInter.
 - March, April and May: Spring.

In [49]:
# Create the four seasons columns in data1, according to the above criteria.
Summer = (inp1[['29-08-13','31-08-13','09-06-13','09-08-13', '10-06-13']].sum()).sum()

Autumn = (inp1[['09-10-13', '14-09-13','16-09-13', '18-09-13', '20-09-13', '22-09-13', '24-09-13',
       '28-09-13']].sum()).sum()

Winter = (inp1[['09-02-13','10-12-13']].sum()).sum()

Spring = (inp1['09-04-13'].sum()).sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_19436\3107910830.py:2: FutureWarning: The default value of numeric_only in DataFrame.sum is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  Summer = (inp1[['29-08-13','31-08-13','09-06-13','09-08-13', '10-06-13']].sum()).sum()

KeyError: "['22-09-13'] not in index"

In [ ]:
import pandas as pd

# Assuming 'inp1' is the DataFrame

# Convert date columns to datetime format if not already in that format
date_columns = ['29-08-13', '31-08-13', '09-06-13', '09-08-13', '10-06-13',
                '09-10-13', '14-09-13', '16-09-13', '18-09-13', '20-09-13',
                '22-09-13', '24-09-13', '28-09-13', '09-02-13', '10-12-13', '09-04-13']

inp1[date_columns] = inp1[date_columns].apply(pd.to_datetime, errors='coerce')

# Create a dictionary to map months to seasons
month_to_season = {6: 'Summer', 7: 'Summer', 8: 'Summer',
                   9: 'Autumn', 10: 'Autumn', 11: 'Autumn',
                   12: 'Winter', 1: 'Winter', 2: 'Winter',
                   3: 'Spring', 4: 'Spring', 5: 'Spring'}

# Create new columns for each season
for season, months in {'Summer': [6, 7, 8], 'Autumn': [9, 10, 11], 'Winter': [12, 1, 2], 'Spring': [3, 4, 5]}.items():
    inp1[season] = inp1[date_columns].apply(lambda col: col.dt.month.isin(months)).sum(axis=1)

# Calculate the sum for each season
Summer = inp1['Summer'].sum()
Autumn = inp1['Autumn'].sum()
Winter = inp1['Winter'].sum()
Spring = inp1['Spring'].sum()

print("Summer:", Summer)
print("Autumn:", Autumn)
print("Winter:", Winter)
print("Spring:", Spring)

In [48]:
inp1.columns

Index(['Dress_ID', '29-08-13', '31-08-13', '09-02-13', '09-04-13', '09-06-13',
       '09-08-13', '09-10-13', '09-12-13', '14-09-13', '16-09-13', '18-09-13',
       '20-09-13', '24-09-13', '28-09-13', '10-06-13', '10-12-13'],
      dtype='object')

In [52]:
# Assuming 'inp1' is the DataFrame

# Convert date columns to datetime format if not already in that format
date_columns = ['29-08-13', '31-08-13', '09-02-13', '09-04-13', '09-06-13',
                '09-08-13', '09-10-13', '09-12-13', '14-09-13', '16-09-13',
                '18-09-13', '20-09-13', '24-09-13', '28-09-13', '10-06-13','10-12-13']

inp1[date_columns] = inp1[date_columns].apply(pd.to_datetime, errors='coerce')

# Create a dictionary to map months to seasons
month_to_season = {6: 'Summer', 7: 'Summer', 8: 'Summer',
                   9: 'Autumn', 10: 'Autumn', 11: 'Autumn',
                   12: 'Winter', 1: 'Winter', 2: 'Winter',
                   3: 'Spring', 4: 'Spring', 5: 'Spring'}

# Create new columns for each season in a single line
inp1[['Summer', 'Autumn', 'Winter', 'Spring']] = inp1[date_columns[:-1]].apply(lambda col: col.dt.month.map(month_to_season)).eq(month_to_season.keys())

# Calculate the sum for each season
season_sums = inp1[['Summer', 'Autumn', 'Winter', 'Spring']].sum()

print("Summer:", season_sums['Summer'])
print("Autumn:", season_sums['Autumn'])
print("Winter:", season_sums['Winter'])
print("Spring:", season_sums['Spring'])

ValueError: Unable to coerce to Series, length must be 15: given 12

In [55]:
inp1.columns

Index(['Dress_ID', '29-08-13', '31-08-13', '09-02-13', '09-04-13', '09-06-13',
       '09-08-13', '09-10-13', '09-12-13', '14-09-13', '16-09-13', '18-09-13',
       '20-09-13', '24-09-13', '28-09-13', '10-06-13', '10-12-13'],
      dtype='object')

In [60]:

date_columns = ['29-08-13', '31-08-13', '09-02-13', '09-04-13', '09-06-13',
                '09-08-13', '09-10-13', '09-12-13', '14-09-13', '16-09-13',
                '18-09-13', '20-09-13', '24-09-13', '28-09-13',
                '10-06-13', '10-12-13']

# Convert date columns to datetime format if not already in that format
inp1[date_columns] = inp1[date_columns].apply(pd.to_datetime, errors='coerce')

# Create a dictionary to map months to seasons
month_to_season = {6: 'Summer', 7: 'Summer', 8: 'Summer',
                   9: 'Autumn', 10: 'Autumn', 11: 'Autumn',
                   12: 'Winter', 1: 'Winter', 2: 'Winter',
                   3: 'Spring', 4: 'Spring', 5: 'Spring'}

# Create new columns for each season in a single line
inp1[['Summer', 'Autumn', 'Winter', 'Spring']] = inp1[date_columns].apply(lambda col: col.dt.month.map(month_to_season)).eq(month_to_season.keys())

# Calculate the sum for each season
season_sums = inp1[['Summer', 'Autumn', 'Winter', 'Spring']].sum()

print("Summer:", season_sums['Summer'])
print("Autumn:", season_sums['Autumn'])
print("Winter:", season_sums['Winter'])
print("Spring:", season_sums['Spring'])

ValueError: Unable to coerce to Series, length must be 16: given 12

In [61]:
inp1.columns

Index(['Dress_ID', '29-08-13', '31-08-13', '09-02-13', '09-04-13', '09-06-13',
       '09-08-13', '09-10-13', '09-12-13', '14-09-13', '16-09-13', '18-09-13',
       '20-09-13', '24-09-13', '28-09-13', '10-06-13', '10-12-13'],
      dtype='object')

In [87]:

date_columns = ['29-08-13', '31-08-13', '09-02-13', '09-04-13', '09-06-13',
                '09-08-13', '09-10-13', '09-12-13', '14-09-13', '16-09-13',
                '18-09-13', '20-09-13', '24-09-13', '28-09-13',
                '10-06-13', '10-12-13']

# Convert date columns to datetime format if not already in that format
inp1[date_columns] = inp1[date_columns].apply(pd.to_datetime, errors='coerce')

# Extract the numeric representation of datetime values
inp1[date_columns] = inp1[date_columns].apply(lambda x: x.dt.month, axis=1)

# Calculate the sum for each season

Summer = (inp1[['29-08-13','31-08-13','09-06-13','09-08-13', '10-06-13']].sum(axis = 1)).sum()

Autumn = (inp1[['09-10-13', '14-09-13','16-09-13', '18-09-13', '20-09-13', '24-09-13', '24-09-13','28-09-13']].sum(axis = 1)).sum()

Winter = (inp1[['09-02-13','10-12-13']].sum(axis = 1)).sum()

Spring = (inp1['09-04-13'].sum())

print(Summer)
print(Autumn)
print(Winter)
print(Spring)

2395.0
3828.0
958.0
479.0

In [88]:
inp0.Season.value_counts()

Summer    154
Spring    116
Winter     94
Automn     59
winter     45
Autumn      7
spring      2
Name: Season, dtype: int64

In [89]:
inp1.columns

Index(['Dress_ID', '29-08-13', '31-08-13', '09-02-13', '09-04-13', '09-06-13',
       '09-08-13', '09-10-13', '09-12-13', '14-09-13', '16-09-13', '18-09-13',
       '20-09-13', '24-09-13', '28-09-13', '10-06-13', '10-12-13'],
      dtype='object')

In [90]:
# Create the four seasons columns in data1, according to the above criteria.
Summer = (inp1[['29-08-13','31-08-13','09-06-13','09-08-13', '10-06-13']].sum()).sum()

Autumn = (inp1[['09-10-13', '14-09-13','16-09-13', '18-09-13', '20-09-13', '24-09-13', '24-09-13',
       '28-09-13']].sum()).sum()

Winter = (inp1[['09-02-13','10-12-13']].sum()).sum()

Spring = (inp1['09-04-13'].sum()).sum()

print(Summer)
print(Autumn)
print(Winter)
print(Spring)

2395.0
3828.0
958.0
479.0